body {
    font-family: sans-serif;
    margin:auto;
    max-width:1280px;
    line-height:1.6;
    font-size:18px;
    color:#EEEEEE;
    background-color: #111111;
    padding:010px
}

a {
    color:#EEAA00
}

h1,h2,h3 {
    line-height:1.2;
}

